# Build artifacts
bin/
obj/
*.exe
*.dll
*.pdb
*.cache

# SQLite database
*.db
*.db-shm
*.db-wal

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
